*.class
*.log
*.iml
*.ipr
*.iws
library/.idea/
.idea/
*.DS_Store/
library/build
library/classpath
library/project
library/settings
library/out_sliding_agg
library/out_prefix_sum
library/out_ranking
Prezentacja_seminarium.pptx
library/test.txt
seminarium_omowienie.docx
notatki.rtf
opis.rtf
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
